@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@600&display=swap');


.Movie{
    width: 200px;
    text-align: center;
}

img{
    border-radius: 5px;

}

.Movie:hover {
    opacity: 1;
    cursor: pointer;
    transition: .9s ease;
}

p {
    font-family: 'Exo 2', sans-serif;
    color: #c9563f;
}

.img_poster:focus-visible{
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.5);
}

.img_poster:hover{
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.6), 0 1px 3px 1px rgba(0, 0, 0, 0.8);
    background-color: rgba(0, 0, 0, 0.3);
}
.img_poster:active{
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5), 0 1px 3px 1px rgba(0, 0, 0, 0.7);
    background-color: rgba(0, 0, 0, 0.2) !important;}