.Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    background-color: #ef6fd1;
    color: snow;
    height: 50px;
}

.Header a{
    text-decoration: none;
    color: snow;
    margin: 0 5px;
}

.Header a[class='active']{
    color: red;
}

.Image {
    height: 25px;
    border: 1px solid black;
}