@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Inline+One&display=swap');

.title{
    font-family: 'Alumni Sans Inline One', cursive;
    font-size: 50px;
}
.wrap{
    display: flex;
    align-items: center;
    flex-direction: column;
}